/* Estilos para o formulário de cadastro de paciente */
.cadastro-paciente-container {
  background: #004a8d; /* Fundo azul para o container de cadastro de paciente */
  color: white; /* Cor do texto */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Remover borda */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Alterar cursor para indicar que o elemento é clicável */
}

.cadastro-paciente-container:hover {
  background: #004a8d; /* Mantém a mesma cor ao passar o cursor */
}

.ficha-anamnese-button {
  background-color: #f7941d; /* Cor do botão de ficha anamnese */
  color: white; /* Cor do texto */
  padding: 8px 16px; /* Espaçamento interno */
  border: none; /* Remover borda */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Alterar cursor para indicar que o elemento é clicável */
}

