/* Estilo do corpo do formulário */
.consulta-container {
  background-color: #ffffff; /* Cor de fundo */
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif; /* Fonte */
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
}

/* Estilo das etiquetas (labels) */
.consulta-container form label {
  color: black; /* Cor preta */
  margin-bottom: 10px; /* Espaçamento abaixo */
  width: 200px; /* Largura fixa para as etiquetas */
}

/* Estilo dos inputs */
.consulta-container form input {
  flex: 1; /* Ocupa o espaço restante */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white; /* Fundo branco */
  color: black; /* Cor da fonte */
}

/* Estilo dos botões */
.consulta-container form button {
  background-color: #004A8D; /* Cor do botão de Consulta */
  color: white; /* Cor do texto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Largura fixa para o botão */
  align-self: center; /* Centraliza horizontalmente */
}
